---
import Mylayout from "../layouts/Mylayout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Section from "../components/Section.astro";
---

<Mylayout title="LandingPage">
	<Header />
	<Main/>
	<Section>
		<div class=" w-full h-auto text-center  px-14 py-16 flex flex-col items-center gap-4">
			<h4 class="font-extraligth text-4xl text-gray-800">Why chose Easybank?</h4>
			<p class="text-gray-500">We leverage Open Banking  to turn your  account into your financial hub. Control your finances like never before</p>

		</div>
	</Section>
</Mylayout>