---
import Figure from "./Figure.astro";

---
<script>
    const hamburger = document.getElementById('hamburger');
    const nav = document.getElementById('nav');
    hamburger.addEventListener('click', () => {
        nav.classList.toggle("navActive")
        if(nav.classList.contains("navActive")){
            hamburger.src = "/images/icon-close.svg"
        }else{
            hamburger.src = "/images/icon-hamburger.svg"
        }
        
    })
    
</script>

<header 
    class="w-full h-14 bg-white mx-auto my-auto 
    px-7 flex items-center justify-between lg:px-24 ">
    <figure>
        <img src="/images/logo.svg" alt="">
    </figure>
    <nav id="nav" class="hidden lg:flex lg:w-[75%] lg:items-center lg:h-[42px] 
    lg:text-[.9rem] lg:relative lg:top-[-1px ] lg:gap-4">
        <a href="#" >Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
        <Figure stilos=" lg:flex-1 lg:w-full lg:flex justify-end" >
            <button 
                class="bg-slate-500 h-12 w-[11rem] px-4 rounded-3xl
                customBtn text-white font-bold  ">Request invited</button>
        </Figure>
    </nav>

    <figure class="lg:hidden">
        <img 
        src="/images/icon-hamburger.svg" 
        alt="icon-Hamburger"
        class="cursor-pointer"
        id="hamburger">
    </figure>
</header>
<style is:global >
    header{
        position: relative;
        background:white;
    }

    .navActive{
        width: 88%;
        height: 40vh;
        position: absolute;
        background-color: white;
        inset: 0;
        margin:  auto;
        border-radius: .5rem;
        transform: translateY(11.5rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        box-shadow: 1rem 6rem 80px 100px rgba(0, 0, 0, 0.536);
    }
   .aver{
        justify-self: flex-end;
   }
    
</style>

